
.body{

    display:flex;
}

#pagecentral{

    display: flex;
    flex-direction: column;
    background-color: rgb(100, 100, 253);
    height: 100vh;
    width: 75vw; 
    justify-content: center;
}

.name_pokemon{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#div_pokemon{

    display: flex;
    justify-content: center;

}

.image_pokemon{

    width: 20vw;
    height: 20vw;

}