
#Side_bar{

    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 100vh;
    background-color: aqua;
    overflow-y: scroll;
    justify-content: center;

}

#Component_search_pokemon{

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#image_pokeapi{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10vw;
}