
.body{

    display:flex;
}

#pagecentral{

    display: flex;
    flex-direction: column;
    background-color: rgb(100, 100, 253);
    height: 100vh;
    width: 75vw; 
    justify-content: center;
}

.name_pokemon{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#div_pokemon{

    display: flex;
    position: relative;
    left: 30%;

}

.image_pokemon{
    width: 20vw;
    height: 20vw;

}

.Flipper{
	width: 100%;
	height: 100%;
	transition: transform 0.8s; /*Timer para trasformação*/
    transform-style: preserve-3d;
    position: relative;
}

.Flipper-cards:hover .Flipper{
    display: flex;
    justify-items: center;
    transform: rotateY(180deg); /*Rotação Eixo Y*/
}

.Front, .Back{
	position: absolute;
	width: 100%;
	height: 100%;
}


.Front, .Back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .Back{
	transform: rotateY(180deg);
}